<!DOCTYPE html>
<html lang="en-US">


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="scripts/authentity.js"></script>
<script src="scripts/github.js"></script>
<link rel="stylesheet" href="styles/style.css">

<body>

<div ng-app="ngTokenAuthTestApp">
    <p>Name : <input type="text" ng-model="name"></p>
    <h1>Hello {{name}}</h1>
</div>
<div ng-controller="IndexCtrl">
    <button ng-click="authenticate('github')">
        Sign in with Github
    </button>


</div>



</body>
</html>