<!DOCTYPE html>
<html lang="en-US">


<head>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="scripts/authentity.js"></script>
<script src="scripts/github.js"></script>
<script src="scripts/registration.js"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/modal.css">
</head>
<body ng-app="ngTokenAuthTestApp" ng-controller="IndexCtrl">

<div>
    <p>Name : <input type="text" ng-model="name"></p>
    <h1>Hello {{name}}</h1>
</div>
<div >
    <button ng-click="authenticate('facebook')">
        Sign in with Github
    </button>
    <button class="btn btn-primary btn-lg" ng-click='signOut()'>Sign out</button>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="images/Logo.png" class="center-img" height="105" width="150"/>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Sign Up</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="home">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                            </div>
                        </div>
                        <form>
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                            <div class="form-group">
                                <label for="email1">Email address:</label>
                                <input type="email1" class="form-control" id="email1">
                            </div>
                            <div class="form-group">

                                <label for="pwd">Password:</label>

                                <form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}">
                                    <div class="form-group">
                                        <label>email</label>
                                        <input type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"/>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-lg">Request password reset</button>
                                </form>
                                <a id="forgot" href="">Forgot password?</a>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Remember me
                                </label>
                            </div>
                            <div>
                                <p>Not registred?  <a href="">Sign Up Now</a></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                    <div class="tab-pane container fade" id="menu1">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6" id="social">
                                    <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" id="social">
                                    <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                                </div>
                            </div>
                            <form>
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address:</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                                <div class="form-group">
                                    <label for="pwd">Repeat Password:</label>
                                    <input type="password" class="form-control" id="pwd">
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> I read and apply <a href="">User Agreement</a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>